/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); /* DotGothic16 */


*{
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1.2rem;
}

body{
  display: flex;
  background-color: black;
  gap: 100px;
  color: white;
  align-items: center;
}

/* IMAGE */
img{
  width: 500px;
  height: 100%;
}

/* SIGNUP FORM */
.right-side{
  flex: 2;
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
}

input{
  width: fit-content;
  border: 3px solid grey;
}

button{
  width: fit-content;
  padding: 10px;
  background-color: red;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
}

button:hover{
  opacity: 80%;
  cursor: pointer;
}

a{ 
  text-decoration: underline;
  color: white;
}

footer > p, 
a{
  font-size: 16px;
}

footer{
  margin-top: 20px;
}