/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap'); /* DotGothic16 */


*{
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1.2rem;
}

body{
  display: flex;
  background-color: black;
  gap: 100px;
  color: white;
  align-items: center;
}

/* IMAGE */
img{
  width: 500px;
  padding-top: 95px;
  height: 100%;
}

/* SIGNUP FORM */
.right-side{
  flex: 2;
  display: flex;
  flex-direction: column;
}


button{
  width: fit-content;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
